html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 背景透過 */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    opacity: 30%;
}
/* height: calc(100vh - 240px);
    object-fit: cover; */

/* ステータスアイコンバー */
.timeline {
    display: flex;
    justify-content: space-between; /* アイテム間のスペースを均等に */
    align-items: center;
    position: relative;
    width: 60%; /* タイムライン全体の幅を調整 */
    margin: 50px auto; /* 中央揃えのために左右のマージンを自動に */
}

.timeline-item {
    position: relative;
    background-color: #f5e4d8; /* 背景色を設定 */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* アイコンを線の上に表示 */
}

.timeline-icon img {
    width: 24px; /* アイコンのサイズを調整 */
    height: 24px;
}

.timeline-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%; /* 線を右側に配置 */
    width: 100%; /* 線の長さを調整 */
    height: 2px; /* 線の太さを設定 */
    background-color: #f5e4d8; /* 線の色を背景色と同じに設定 */
    z-index: -1;
}

.icon-md{
    font-size: 1.5rem;
    color: #ffffff;
}

.icon-lg{
    font-size: 2rem;
    color: #0C2C04;
}

.timeline-item.active .icon-md {
    color: #0C2C04; /* アクティブなステップの色 */
}

.timeline-item.inactive .icon-md {
    color: #ffffff; /* 未完了のステップの色 */
}

/* チェックボックスのサイズ */
input[type="checkbox"] {
    transform: scale(1.5);
}
/* チェックボックスのチェック時のカラー */
input[type="checkbox"]:checked {
    background-color: #84947C;
    border-color: #84947C;
}
/* チェックボックスの選択時のカラー */
.form-check-input:focus {
    border-color: #84947C;
    box-shadow: 0 0 0 0.15rem rgba(132, 148, 124, 0.5);
}
/* 入力・選択欄の選択時のカラー */
.form-control:focus, .form-select:focus {
    border-color: #84947C;
    box-shadow: inset 0 1px 1px #0C2C04, 0 0 8px #84947C;
}

.map-container {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
}

.map-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.map-container li {
    padding: 8px;
    cursor: pointer;
}

.map-container li:hover {
    background-color: #f0f0f0;
}

.custom-marker {
    background-color: #F7142B; /* ピンの色を赤に設定 */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
}


