.bar-chart-002 {
    font-size: .9em;
}

.bar-chart-002 > div {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.bar-chart-002 dt {
    width: 20px;
    min-width: 20px;
}

.bar-chart-002 dd {
    width: 100%;
    margin: 0;
    border-radius: 3px;
    background-color: #c0c0c0;
}

.bar-chart-002 span {
    display: inline-block;
    padding-right: 5px;
    border-radius: inherit;
    background-color: #696969;
    color: #fff;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
    white-space: nowrap;
}


.stars {
    display: flex;
    align-items: center;
}

.stars .star {
    cursor: pointer;
    color: #a09a9a; /* Default star color */
    transition: color 0.3s;
}

.stars .star.hover,
.stars .star.selected {
    color: #f4d734; /* Hover and selected color */
}

/* グラフ */
.bar-chart {
    display: flex;
    flex-direction: column;
}

.bar-chart div {
    display: flex;
    align-items: center;
}

.bar-chart dt {
    width: 2em;
    font-weight: bold;
}

.bar-chart dd {
    flex-grow: 1;
    margin: 0;
}

.bar-chart dd span {
    display: block;
    height: 1.5em;
    background-color: #0C2C04;
    color: white;
    text-align: right;
    padding-right: 0.5em;
    border-radius: 0.25em;
    line-height: 1.5em;
}

/* comment */
.overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 表示する行数を制限 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.5em;
}

/* コメント一覧の☆ */
.star-rating {
    display: flex;
    direction: row-reverse;
    font-size: 1.5rem; /
}

.star-rating .fa-star {
    color: lightgray; /* デフォルトの色 */
    margin: 0 1px;
}

.star-rating .fa-star.filled {
    color: #f4d734; /* 評価☆の色 */
}

/* show-review page */
.star-rating-1 {
    display: flex;
    direction: row-reverse;
    font-size: 1rem; /
}

.star-rating-1 .fa-star {
    color: lightgray; /* デフォルトの色 */
    margin: 0 0.7px;
}

.star-rating-1 .fa-star.filled {
    color: #f4d734; /* 評価☆の色 */
}


/* avarage star */
.review-star-container {
    font-size: 1rem;
}

.review-star-container .fa-star,
.review-star-container .half-filled {
    margin: 0 1px;
    position: relative;
    color: #f4d734;
}

.review-star-container .fa-star.empty {
    color: lightgray;
}

.review-star-container .half-filled {
    background: linear-gradient(to right, #f4d734 50%, lightgray 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* 背景色をクリアにするために透明 */
}
