
/* レビューの星コンテナ */
.review-star-container {
    font-size: 1.2rem;
    max-width: 320px;
    width: 100%;
    height: auto;
    border: 1px solid #0C2C04;
    border-radius: .375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    overflow: hidden;
}

/* グラフ */
.bar-chart-002 {
    font-size: .9em;
    width: 100%;
    max-width: 320px;
    box-sizing: border-box; /* パディングとボーダーを含むサイズ計算 */
}

.bar-chart-002 > div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.bar-chart-002 dt {
    width: 2.5em; /* dtの幅を調整 */
    text-align: right;
    margin-right: 1rem;
}

.bar-chart-002 dd {
    flex-grow: 1;
    margin: 0;
    border-radius: .375rem;
    background-color: #c0c0c0;
    position: relative;
}

.bar-chart-002 span {
    display: block;
    height: 1.5em;
    border-radius: inherit;
    background-color: #696969;
    color: #fff;
    font-weight: 600;
    line-height: 1.5em;
    text-align: right;
    white-space: nowrap;
}

.stars {
    display: flex;
    align-items: center;
}

.stars .star {
    cursor: pointer;
    color: #a09a9a; /* Default star color */
    transition: color 0.3s;
}

.stars .star.hover,
.stars .star.selected {
    color: #f4d734; /* Hover and selected color */
}

/* グラフ */
.bar-chart {
    display: flex;
    flex-direction: column;
}

.bar-chart div {
    display: flex;
    align-items: center;
}

.bar-chart dt {
    width: 2em;
    font-weight: bold;
}

.bar-chart dd {
    flex-grow: 1;
    margin: 0;
}

.bar-chart dd span {
    display: block;
    height: 1.5em;
    background-color: #0C2C04;
    color: white;
    text-align: right;
    padding-right: 0.5em;
    border-radius: 0.25em;
    line-height: 1.5em;
}

.review-form-container {
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
    border: 2px solid rgba(132, 148, 124, 0.5);
    border-radius: .375rem;
}

.reviews-list-container {
    overflow-y: auto;
    max-height: 400px;
}

.review-item {
    width: 100%;
    margin-top: 1rem;
    padding: .5rem;
    border: 2px solid rgba(132, 148, 124, 0.5);
    border-radius: .375rem;
}

/* comment */
.overflow-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* 表示する行数を制限 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.5em;
}

/* コメント一覧の☆ */
.star-rating {
    display: flex;
    direction: row-reverse;
    font-size: 1.5rem;
}

.star-rating .fa-star {
    color: lightgray; /* デフォルトの色 */
    margin: 0 1px;
}

.star-rating .fa-star.filled {
    color: #f4d734; /* 評価☆の色 */
}

/* show-review page */
.star-rating-1 {
    display: flex;
    direction: row-reverse;
    font-size: 1rem;
}

.star-rating-1 .fa-star {
    color: lightgray; /* デフォルトの色 */
    margin: 0 0.7px;
}

.star-rating-1 .fa-star.filled {
    color: #f4d734; /* 評価☆の色 */
}


.review-star-container .fa-star,
.review-star-container .half-filled {
    margin: 0 1px;
    position: relative;
    color: #f4d734;
}

.review-star-container .fa-star.empty {
    color: lightgray;
}

.review-star-container .half-filled {
    background: linear-gradient(to right, #f4d734 50%, lightgray 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* 背景色をクリアにするために透明 */
}


@media (max-width: 576px) {
    .review-star-container .fa-star,
    .review-star-container .half-filled {
        font-size: 1.2rem;
    }
}
