
.cp_offcanvas {
    position: absolute;
    top: 80px; /* ナブバーの下に配置 */
    left: 0;
	z-index: 3;
}

@media (min-width: 768px) {
    .cp_offcanvas {
		top: 160px;
	}
}

.cp_offcanvas .cp_menu {
	position: absolute;
	top: 0;
	left: -100vw; /* ビューポートの幅の100%分左（画面外）に配置 */
	width: 50vw;
	height: calc(100vh - 160px);
    overflow-y: auto;
    transition: 0.25s transform; /* 0.25秒のアニメーション */
    transition-timing-function: ease; /* アニメーションのタイミング */
	background-color: #FFFFFF;
}

@media (min-width: 768px) {
    .cp_offcanvas .cp_menu {
		height: calc(100vh - 240px);
	}
}

.cp_offcanvas #cp_toggle {
	position: absolute;
	display: none;
	opacity: 0;
}

.cp_offcanvas #cp_toggle:checked ~ .cp_menu {
	transform: translateX(100vw); /* チェック時にメニューをビューポートの幅100%分右に移動 */
}

/* menu toggle */
.cp_offcanvas #cp_toggle ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer; 
	transition: 0.25s transform; /* 0.25秒のアニメーション */
	transition-timing-function: ease; /* アニメーションのタイミング */
	position: absolute;
	left: 0;
}

.cp_offcanvas #cp_toggle:checked ~ label {
	transform: translateX(50vw); /* チェック時にラベルをビューポート幅の50%分右に移動 */
}

.cp_offcanvas #cp_toggle ~ label::before {
	font-family: 'FontAwesome';
	color:#0C2C04;
	content: "\f101"; /* 右矢印アイコン（チェック前） */
	font-size: 2em;
	position: absolute;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.cp_offcanvas #cp_toggle:checked ~ label::before {
	color:#0C2C04;
	content: "\f100"; /* 左矢印アイコン（チェック後） */
}


/* 画面サイズ767px未満 */
#map {
	height: calc(100vh - 160px);
}

/* 画面サイズ768px以上 */
@media (min-width: 768px) {
    #map {
		height: calc(100vh - 240px);
	}
}

/* オーバーフローしたテキストを"…"で表示 */
.overflow_dot {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* オーバーフローしたテキストをカット */
.overflow_cut {
	overflow: hidden;
	white-space: nowrap;
}