.icon-container {
    flex: 0 0 10%; /* アイコンの幅を親要素の10%に設定 */
    display: flex;
    justify-content: center;
}
.text-container {
    flex: 1; /* 残りの幅をテキストに使用 */
}

.custom-btn {
    width: 180px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#map-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}