.card-img-top{
    aspect-ratio: 8 / 5;
    object-fit: cover;
}

.card-img-sm{
    aspect-ratio: 8 / 5;
    object-fit: cover;
}

.btn-outline-dark{
    font-family: "Raleway";
    font-weight: bold;
}

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

th.table-dg {
    background-color: #0C2C04;
    color: white;
}

td.table-yellow {
    background-color: #F6E7D2;
}

.trash-btn {
    color: #F7142B;
    background-color: transparent;
}

.edit-btn {
    color: #0C2C04;
    background-color: transparent;
}
