.card-img-top{
    aspect-ratio: 8 / 5;
    object-fit: cover;
}

.card-img-sm{
    aspect-ratio: 8 / 5;
    object-fit: cover;
}

.btn-outline-dark{
    font-family: "Raleway";
    font-weight: bold;
    min-width: 50px;
}

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

th.table-dg {
    background-color: #0C2C04;
    color: white;
    vertical-align: middle;
    text-align: center;
}

td.table-yellow {
    background-color: #F6E7D2;
}

.trash-btn {
    color: #F7142B;
    background-color: transparent;
}

.edit-btn {
    color: #0C2C04;
    background-color: transparent;
}

.icon-lg{
    font-size: 2rem;
    color: #0C2C04;
}

tbody tr:nth-child(even) td {
    background-color: #F6E7D2;
}

/* オーバーフローしたテキストを"…"で表示 */
.overflow_dot {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* オーバーフローしたテキストをカット */
.overflow_cut {
	overflow: hidden;
	white-space: nowrap;
}
.review-star-container {
    margin-right: 4rem; /* Adjust the margin as needed */
}

.no-gutter{
    --bs-gutter-x: 0;
}

/* 画像サイズ　768px未満のとき */
@media (max-width: 768px) {
    .image-part{
        overflow-x: auto;
    }
    .main-image {
        width: 100% !important;
    }
    .other-images {
        display: flex;
        width: 100% !important;
    }
    .other-images .w-50 {
        width: 50% !important;
    }
    .main-image-img {
        padding-right: 0 !important;
    }
    /* 画面サイズが小さい時は、スター評価とグラフを縦1列に並べる */
    .review-star-container, .bar-chart-002 {
        width: 100% !important;
        text-align: center;
        margin: 0 auto;
    }

    .review-star-container {
        margin-bottom: 1rem;
    }

    .bar-chart-002 div {
        display: flex;
        justify-content: space-between;
    }

    .bar-chart-002 dd {
        flex: 1;
        text-align: left;
        margin-left: 1rem;
    }
    .responsive-container {
        overflow: hidden;
    }

}

/* bookmarkのコンテナ設定 */
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* カードのbookmarkアイコン */
.heart-icon {
    position: absolute;
    top: 14px;
    right: 14px;
    z-index: 10;
}

.heart-icon button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
}

.heart-icon i {
    font-size: 17px;
    background-color: #ffffffb4;
    border-radius: 50%;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* イベントページのbookmarkアイコン */
.heart-icon-lg {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.heart-icon-lg button {
    background: none;
    border: none;
    padding: 0;
    border-radius: 50%;
}

.heart-icon-lg i {
    font-size: 20px;
    background-color: #ffffffb4;
    border-radius: 50%;
    padding: 9px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* イベントページの画像サイズ */
.ratio-2-2 {
    aspect-ratio: 2.2;
    object-fit: cover;
}

.ratio-1-5 {
    aspect-ratio: 1.45;
    object-fit: cover;
}

.ratio-1-1 {
    aspect-ratio: 1.1;
    object-fit: cover;
}

/* 画面サイズ767px未満 */
@media (max-width: 767px) {
    .ratio-2-2,
    .ratio-1-5,
    .ratio-1-1 {
        aspect-ratio: 1.6;
    }
}